<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculate Textarea & Input Characters</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
</head>

<body>
    <div class="container">
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
                <div class="form-group filters">
                    <input type="text" v-model="filter" class="form-control" placeholder="filter" ref="filter">
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li v-for="student in students" :key="student.id" class="list-group-item">
                        {{ student.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="js/main.js"></script>
</body>

</html>